.logo {
    width: 150px;
    display: inline-block;
    

}
.iconoi{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.iconow  {
    width: 100px;
    height: 100px;
    margin-left: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagdelivery {
    width: 150px;
    display: flex;
    margin-left: 200px;
    
  }  
 


    .imagen {
      display:inline-block; ;
      width: 25%;
      height: 25%;
      animation-fill-mode: backwards;
    }

    
   
    