* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 430px) {
    .card-container {
        flex-direction:wrap ;
    }
}

@media (min-width:431px)and (max-width: 768px) {}